.nav-btn {
  display: flex;
  align-items: center;
  width: 100%;
  padding-block: 8px;
  border: none;
  background-color: transparent;
  font-size: 0.875rem;
  text-align: left;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.nav-btn:hover,
.nav-btn.active {
  background-color: var(--lighter-ring);
  color: var(--primary-color);
}

.nav-icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-icon svg {
  width: 100%;
  height: 100%;
  stroke: var(--text-color); /* Default icon color */
  transition: fill 0.2s ease;
}

.nav-btn:hover .nav-icon svg,
.nav-btn.active .nav-icon svg {
  stroke: var(--primary-color); /* Icon color on hover */
}
